
.container1{
    display: flex;
    justify-content: space-between;

}
.subcontainer1{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
   
}

.input-group{
    width: 50%;
    align-items: center;
}
.searcharea {
    background-color: #e6f2ff;
    padding: 20px;
}

.uvindex {
    padding: 5px;
}

.one-fifth {
    box-sizing: border-box;
    width: 20%;
    margin: 5px;
    padding: 5px;
    
}

.one-fifth:first-child {
    margin-left: 0px;
}

.one-fifth:last-child{
    margin-right: 0px;
}

.forecast {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0px;
}

#searchbtn{
    color: blueviolet;

}
button{
    height: 40px;
}