
.container1{
    display: flex;
    justify-content: space-between;
    background-color: white;
    margin-bottom: 30px;
    border:solid black ;

}
.subcontainer1{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
   
}
.container2{
    display: flex;
    justify-content: space-between;
  
}
#removebtn{
   
    margin-top: 20px;
    margin-bottom: 30px;
    border: dashed red;
    padding: 30px;
    background-color: royalblue;

}
.input-group{
    width: 50%;
    align-items: center;
    background-color: lightblue;

}
input{
    margin-left: 30px
}
.searcharea {
    background-color: greenyellow ;


    margin-left: 20px;
}

.uvindex {
    padding: 5px;
}

.one-fifth {
    box-sizing: border-box;
    width: 20%;
    margin: 5px;
    padding: 5px;
    
}

.one-fifth:first-child {
    margin-left: 0px;
}

.one-fifth:last-child{
    margin-right: 0px;
}

.forecast {
    display: flex;
    background-color: #B0C4DE;

    justify-content: space-between;
    margin: 10px 0px;
}

#searchbtn{
    color: blueviolet;

}
button{
    height: 40px;
}
.test1{
    color: blue;
    margin-left: 250px;
    font-size: x-large;
    margin-bottom: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.city-name{
    color: #008B8B;
    align-items: center;
    margin-left: 50px;

}
#earthforecast{
    background-color: wheat;
    font-family: Arial, Helvetica, sans-serif;


}
